<div class="search-group mt-4">
    <form class="form-inline" method="post">
        <div class="form-group">
            <label for="search" class="sr-only">Tìm kiếm</label>
            <input name="q" type="text" class="form-control mt-2" id="search" placeholder="Nhập từ khóa...">
        </div>
        <button type="submit" class="btn btn-primary mb-2 mt-2">Tìm kiếm</button>
    </form>
</div>