<div class="mt-4">
    <h3>Đăng khóa học</h3>
</div>
<form method="post" class="row g-3">  
  <div class="col-12">
    <label for="name" class="form-label">Tên khóa học</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Tên khóa học">
  </div>  
  <div class="col-md-12">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" name="description" rows="5"></textarea>
  </div>  
  <div class="col-md-12">
    <label for="level" class="form-label">Trình độ</label>
    <input type="text" class="form-control" id="level" name="level" placeholder="Trình độ">
  </div> 
  <div class="col-12">
    <label for="videoId" class="form-label">Video Id</label>
    <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Nhập vào video ID">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Tạo khóa học</button>
  </div>
</form>